body {
    background-color: #EAECEE;
    overflow-x: hidden;
}

.container {
    background-color: #FCF2EF;
    border-radius: 1px solid #FCF2EF;
    box-shadow: 0px 0px 3px 0px;
}

#form {
    padding: 20px;
}

#update_form {
    padding: 20px;
}

.table {
    position: relative;
    margin-top: 25px;
    overflow: none;
}

table {
    text-align: center;
}

.pagination {
    position: absolute;
    left: 44%;
    margin-right: -56%;
}
